<div class="footer-3">
    <div class="margin-bottom">
      <div class="background">
        <div class="notice-box">
          <div class="horizontal">
            <div class="nav-column">
              <a href="{{ links.2f }}" class="link-block-17 w-inline-block"><img src="{{ images.-66f495c8.url }}" loading="lazy" alt="{{ images.-66f495c8.alt | trim | escape }}" class="image-109"></a>
              <h5 class="display-7-copy margin-bottom">{{ texts.72f0b18d }}<br>{{ texts.-5fb03a05 }}</h5>
              <ul role="list" class="w-list-unstyled">
                <li class="list-item-29">
                  <div class="horizontal">
                    <a href="{{ links.1828db46 }}" target="_blank" class="icon-social-2 facebook w-inline-block"></a>
                    <a href="{{ links.3260807e }}" target="_blank" class="icon-social-2 twitter w-inline-block"></a>
                    <a href="{{ links.-4da9e40b }}" target="_blank" class="icon-social-2 pinterest w-inline-block"></a>
                    <a href="{{ links.-406afc9a }}" target="_blank" class="icon-social-2 instagram w-inline-block"></a>
                    <a href="{{ links.-67ddadaf }}" target="_blank" class="icon-social-2 instagram-copy w-inline-block"></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="horizontal">
            <div class="nav-column">
              <h5 class="display-7 margin-bottom">{{ texts.56d8f0eb }}</h5>
              <ul role="list" class="list w-list-unstyled">
                <li class="list-item-32">
                  <div class="text-block-53">
                    <a href="{{ links.23 }}" class="link-7">{{ texts.-299fa1be }}</a>
                  </div>
                </li>
                <li class="horizontal centered">
                  <div>
                    <a href="{{ links.6ceb894d }}" class="link-3">{{ texts.-723f6c02 }}</a>
                  </div>
                </li>
                <li class="list-item-33">
                  <div>
                    <a href="{{ links.40de4293 }}" class="link-4">{{ texts.-212b623e }}</a>
                  </div>
                </li>
                <li class="list-item-34">
                  <div>
                    <a href="{{ links.4841520 }}" class="link-5">{{ texts.1deed91f }}</a>
                  </div>
                </li>
                <li class="list-item-35">
                  <div class="text-block-44">
                    <a href="{{ links.1a0ba8ab }}" class="link-9">{{ texts.-488a7307 }}</a>
                  </div>
                </li>
                <li class="list-item-36">
                  <div>
                    <a href="{{ links.5e5270da }}" aria-current="page" class="link-6 w--current">{{ texts.65c20d22 }}</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-column-copy">
              <h5 class="display-7 margin-bottom">{{ texts.-12b421f2 }}</h5>
              <ul role="list" class="w-list-unstyled">
                <li class="horizontal centered">
                  <a href="{{ links.-3d45e20c }}" class="w-inline-block">
                    <div class="text-block-32">{{ texts.22647b13 }}</div>
                  </a>
                </li>
                <li class="horizontal centered">
                  <a href="{{ links.7ba45e81 }}" class="w-inline-block">
                    <div class="text-block-45">{{ texts.6bf8ebb7 }}</div>
                  </a>
                </li>
              </ul>
              <div class="text-block-46">
                <a href="{{ links.2801e2c3 }}" class="link-8">{{ texts.-52af99ce }}</a>
              </div>
            </div>
            <div class="nav-column last">
              <h5 class="display-7 margin-bottom">{{ texts.5ea1f0b9 }}</h5>
              <div class="content-2">
                <div class="w-form">
                  <form id="wf-form-Newslatter" name="wf-form-Newslatter" data-name="newslatter" method="post" action="https://egyptyachting.us5.list-manage.com/subscribe/post?u=706bfd067e5189bdab91f7b09&amp;amp;id=78e84dd8a6" data-ajax="true">
                    <div class="horiz"><input type="text" class="text-field-7 newslatter w-input" maxlength="256" name="E-mail-address" data-name="E-mail address" placeholder="EMAIL ADDRESS" id="E-mail-address" required=""><input type="submit" value="Send" data-wait="Please wait..." class="submit-button-3 w-button"></div>
                  </form>
                  <div class="success-message-6 w-form-done">
                    <div class="text-block-48">{{ texts.-4fec8807 }}</div>
                  </div>
                  <div class="error-message-5 w-form-fail">
                    <div>{{ texts.5e8b37b7 }}<br>{{ texts.29976070 }}</div>
                  </div>
                </div>
              </div>
              <div>
                <h5 class="display-7">{{ texts.-38be8038 }}</h5>
                <div class="horizontal-2">
                  <div class="w-layout-grid grid-1006">
                    <div class="payment-icons-2 paypal-copy f"></div>
                    <div class="payment-icons-2 paypal-copy-copy"></div>
                    <div class="payment-icons-2 paypal"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-layout-grid back-lines-grid">
      <div class="lines"></div>
      <div class="lines"></div>
      <div class="lines"></div>
    </div>
    <div class="align-center-2">{{ texts.3acb8241 }}<a href="{{ links.-744bb6c0 }}">{{ texts.4f912d2b }}</a>{{ texts.5b2 }}<a href="{{ links.-50963c1d }}">{{ texts.-3fbde6f6 }}</a>{{ texts.5b2 }}<a href="{{ links.-269752eb }}" target="_blank">{{ texts.-6895c513 }}</a>
    </div>
  </div>