<div class="menu">
    <div id="w-node-_0d552f3b-3a71-bbf3-c1dc-b2485abd3b5f-7e7354c4" class="w-layout-grid menu-grid">
      <ul id="w-node-_82065c5a-4850-f5a0-b41e-b1f87e7354c5-7e7354c4" role="list" class="menu-items w-list-unstyled">
        <li>
          <a data-w-id="82065c5a-4850-f5a0-b41e-b1f87e7354c7" href="{{ links.2f }}" class="navi-item-copy w-inline-block">
            <h6 class="caption-copy-copy">{{ texts.407c5371 }}</h6>
            <div>{{ texts.2268ff }}</div>
          </a>
        </li>
        <li>
          <a data-w-id="82065c5a-4850-f5a0-b41e-b1f87e7354cd" href="{{ links.35a4c56d }}" class="navi-item w-inline-block">
            <h6 class="caption-copy-copy">{{ texts.645f0031 }}</h6>
            <div>{{ texts.290af1 }}</div>
          </a>
        </li>
        <li>
          <a data-w-id="82065c5a-4850-f5a0-b41e-b1f87e7354d3" href="{{ links.23 }}" class="navi-item w-inline-block">
            <h6 class="caption-copy-copy">{{ texts.3a37caf }}</h6>
            <div>{{ texts.153510a7 }}</div>
          </a>
        </li>
        <li>
          <a data-w-id="82065c5a-4850-f5a0-b41e-b1f87e7354d9" href="{{ links.5e5270da }}" aria-current="page" class="navi-item w-inline-block w--current">
            <h6 class="caption-copy-copy">{{ texts.-42043071 }}</h6>
            <div>{{ texts.65c19502 }}</div>
          </a>
        </li>
        <li></li>
      </ul>
      <div id="w-node-_82065c5a-4850-f5a0-b41e-b1f87e7354e4-7e7354c4" class="menu-sub">
        <div class="menu-image-wrapper">
          <div class="menu-image-1"></div>
          <div class="menu-image-2"></div>
          <div class="menu-image-3"></div>
          <div class="menu-image-4"></div>
          <div class="menu-image-5"></div>
        </div>
        <div class="w-layout-grid grid-menu">
          <ul id="w-node-_82065c5a-4850-f5a0-b41e-b1f87e7354eb-7e7354c4" role="list" class="w-list-unstyled">
            <li>
              <h6 class="caption-copy-copy">{{ texts.7f274abe }}</h6>
              <a href="{{ links.-3d45e20c }}" class="link-white-with-icon-copy phone">{{ texts.22647b13 }}</a>
            </li>
            <li class="margin-bottom-copy">
              <a href="{{ links.-462325ad }}" class="link-white-with-icon-copy-copy mail">{{ texts.6bf8ebb7 }}</a>
            </li>
            <li class="margin-bottom">
              <h6 class="caption-copy">{{ texts.-199cd82c }}</h6>
              <a href="{{ links.23 }}" class="link-white-with-icon location-copy">{{ texts.-5150e647 }}</a>
            </li>
          </ul>
          <ul id="w-node-_6fc54b7e-8b57-41d8-74e8-39fc0145783d-7e7354c4" role="list" class="w-list-unstyled">
            <li>
              <h6 class="caption-copy">{{ texts.6a914b86 }}</h6>
              <a href="{{ links.5e5270da }}" aria-current="page" class="w--current">{{ texts.7f274abe }}</a>
            </li>
            <li>
              <a href="{{ links.7277c423 }}">{{ texts.4f912d2b }}</a>
            </li>
            <li class="margin-bottom">
              <a href="{{ links.618fe506 }}">{{ texts.-3fbde6f6 }}</a>
            </li>
            <li>
              <div class="horizontal">
                <a href="{{ links.1828db46 }}" target="_blank" class="icon-social facebook w-inline-block"></a>
                <a href="{{ links.3260807e }}" target="_blank" class="icon-social twitter w-inline-block"></a>
                <a href="{{ links.-4da9e40b }}" target="_blank" class="icon-social pinterest w-inline-block"></a>
                <a href="{{ links.-406afc9a }}" target="_blank" class="icon-social-copy instagram w-inline-block"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>